
/*body {
  background:url('https://drive.google.com/open?id=0Bzm7vpOD-6kNYnVfWlQ2cmRxT2s&authuser=0') no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}*/

body {
	margin: 0;
	background: url(../img/BG.jpg); background-repeat:no-repeat; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-position:center;

}

h1 {
	color: #ffd700;
	font-family: 'Architects Daughter';
	font-size:60px;
	
}

#slogan{
	color: #ffd700;
	font-family: 'Architects Daughter';
	font-size:30px;
	margin-left: 60px;

}

.clock{
	position:absolute;
	margin-left: 25%;
	margin-top:22%;
	/*margin-right: auto;*/

}

.launchMessage{
	position:absolute;
	margin-top: 32%;
	margin-left: 25%;
}